Checks: '*,-llvm-header-guard,-llvm-namespace-comment,-llvm-include-order,-llvmlibc*,-google-readability-namespace-comments,-*braces-around-statements,-modernize-use-trailing-return-type,-modernize-make-unique,-altera-id-dependent-backward-branch,-altera-struct-pack-align,-altera-unroll-loops,-fuchsia-default-arguments-declarations,-fuchsia-default-arguments-calls,-fuchsia-overloaded-operator,-fuchsia-statically-constructed-objects,-readability-uppercase-literal-suffix,-readability-identifier-length,-hicpp-uppercase-literal-suffix,-cppcoreguidelines-avoid-non-const-global-variables,-cert-err58-cpp,-cppcoreguidelines-owning-memory,-cppcoreguidelines-macro-usage,-google-build-using-namespace,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay'
WarningsAsErrors: '*'
FormatStyle: file
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '1'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
