InheritParentConfig: true
Checks: '-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-*avoid-c-arrays,-*avoid-goto,-readability-function-cognitive-complexity'
